name = "securitytxt-worker"
type = "webpack"
webpack_config = "webpack.config.js"
workers_dev = false

[env.gradle-com]
account_id = ""
zone_id = ""
routes = ["https://gradle.com/.well-known/security.txt"]
[env.gradle-org]
account_id = ""
zone_id = ""
routes = ["https://gradle.org/.well-known/security.txt"]


